{% extends "base.html" %}
{% block body %}

<link rel='stylesheet' href='https://sachinchoolur.github.io/lightslider/dist/css/lightslider.css'>

<style>
  #close {
    width: 280px;
    height: 240px;
    /*border-radius: 25px;*/
    border: 0px solid Black;
    /* padding: 15px 15px 15px 15px; */
    /* margin: 20px 20px 20px 20px; */
    overflow: visible;
    box-shadow: 5px 5px 2px #888888;
    position: relative;
  }

  #x {
    position: absolute;
    background: red;
    color: white;
    top: -10px;
    right: -10px;
  }

  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

  body {
    background-color: #eee;
    font-family: "Poppins", sans-serif
  }

  .card {
    background-color: #fff;
    padding: 14px;
    border: none
  }

  .demo {
    width: 100%
  }

  ul {
    list-style: none outside none;
    padding-left: 0;
    margin-bottom: 0
  }

  li {
    display: block;
    float: left;
    margin-right: 6px;
    cursor: pointer
  }

  img {
    display: block;
    height: 500px;
    width: 100%;
  }

  .stars i {
    color: #f6d151
  }

  .stars span {
    font-size: 13px
  }

  hr {
    color: #d4d4d4
  }

  .badge {
    padding: 5px !important;
    padding-bottom: 6px !important
  }

  .badge i {
    font-size: 10px
  }

  .profile-image {
    width: 35px
  }

  .comment-ratings i {
    font-size: 13px
  }

  .username {
    font-size: 12px
  }

  .comment-profile {
    line-height: 17px
  }

  .date span {
    font-size: 12px
  }

  .p-ratings i {
    color: #f6d151;
    font-size: 12px
  }

  .btn-long {
    padding-left: 35px;
    padding-right: 35px
  }

  .buttons {
    margin-top: 15px
  }

  .buttons .btn {
    height: 46px
  }

  .buttons .cart {
    border-color: #ff7676;
    color: #ff7676
  }

  .buttons .cart:hover {
    background-color: #e86464 !important;
    color: #fff
  }

  .buttons .buy {
    color: #fff;
    background-color: #ff7676;
    border-color: #ff7676
  }

  .buttons .buy:focus,
  .buy:active {
    color: #fff;
    background-color: #ff7676;
    border-color: #ff7676;
    box-shadow: none
  }

  .buttons .buy:hover {
    color: #fff;
    background-color: #e86464;
    border-color: #e86464
  }

  .buttons .wishlist {
    background-color: #fff;
    border-color: #ff7676
  }

  .buttons .wishlist:hover {
    background-color: #e86464;
    border-color: #e86464;
    color: #fff
  }

  .buttons .wishlist:hover i {
    color: #fff
  }

  .buttons .wishlist i {
    color: #ff7676
  }

  .comment-ratings i {
    color: #f6d151
  }

  .followers {
    font-size: 9px;
    color: #d6d4d4
  }

  .store-image {
    width: 42px
  }

  .dot {
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px
  }

  .bullet-text {
    font-size: 12px
  }

  .my-color {
    margin-top: 10px;
    margin-bottom: 10px
  }

  label.radio {
    cursor: pointer
  }

  label.radio input {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    pointer-events: none
  }

  label.radio span {
    border: 2px solid #8f37aa;
    display: inline-block;
    color: #8f37aa;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-transform: uppercase;
    transition: 0.5s all
  }

  label.radio .red {
    background-color: red;
    border-color: red
  }

  label.radio .blue {
    background-color: blue;
    border-color: blue
  }

  label.radio .green {
    background-color: green;
    border-color: green
  }

  label.radio .orange {
    background-color: orange;
    border-color: orange
  }

  label.radio input:checked+span {
    color: #fff;
    position: relative
  }

  label.radio input:checked+span::before {
    opacity: 1;
    content: '\2713';
    position: absolute;
    font-size: 13px;
    font-weight: bold;
    left: 4px
  }

  .card-body {
    padding: 0.3rem 0.3rem 0.2rem
  }

  .lSSlideOuter .lSPager.lSGallery img {
    display: block;
    height: 100px;
    max-width: 100%;
  }
</style>
<!-- Page Content -->
<div class="page-heading products-heading header-text">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-content">
          <h4>new arrivals</h4>
          <h2>UNIFYSHOP products</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="products">
  <div class="container-fluid mt-2 mb-3">

    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-5">
        <div class="card">
          <div class="demo">
            <center>
              <ul id="lightSlider">
                {% for img in edit_product[7].split(',') %}
                <li data-thumb="{{ img }}"> <img src="{{ img }}" /> </li>
                {% endfor %}

              </ul>
            </center>
          </div>
        </div>
      </div>

      <div class="col-md-5">
        <div class="card">
          <div class="d-flex flex-row align-items-center">
            <div class="p-ratings">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
          </div>
          <div class="about"> <span class="font-weight-bold">{{ edit_product[1]}}</span>
            <h4 class="font-weight-bold">${{ edit_product[6]}}</h4>
            <div>
              <br>
              <span class="font-weight-bold">Available Quantity:</span>
              <span> {{ edit_product[5]}}</span>
            </div>
          </div>
          <div class="buttons">
            <button class="btn btn-light wishlist">
              <i class="fa fa-heart"></i>
            </button>
          </div>
          <hr>
          <div class="product-description">
            <div>
              <span class="font-weight-bold">Category:</span>
              <span> {{ edit_product[2] }}</span>
            </div>

            <div class="d-flex flex-row align-items-center"> <i class="fa fa-calendar-check-o"></i> <span
                class="ml-1">Delivery in, 10-15 days</span> </div>
            <div class="mt-2"> <span class="font-weight-bold">Description</span>
              <p>{{ edit_product[3]}}</p>
              <div class="bullets">
                <div class="d-flex align-items-center"> <span class="dot"></span> <span class="bullet-text">Best in
                    Quality</span>
                </div>
              </div>
            </div>
            <div class="mt-2"> <span class="font-weight-bold">Others</span>
              <p>{{ edit_product[4]}}</p>
            </div>
            <div class="mt-2">
              <span class="font-weight-bold">Store</span>
            </div>
            <div class="d-flex flex-row align-items-center">
              <div class="d-flex flex-column ml-1 comment-profile">
                <div class="comment-ratings">
                  <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                    class="fa fa-star"></i> <i class="fa fa-star"></i>
                </div>
                <span class="username">Unify Shop</span>

              </div>
            </div>
          </div>
        </div>
      </div>


    </div>

    <div class="col-md-12">
      <form action="{{ url_for('charge_order') }}" style="border-style: groove; margin-top: 30px; padding: 2%;" id="order_form" method="POST">

        <input type="hidden" name="product_id" value="{{ edit_product[0] }}">
        <div class="row">
          <div class="col-xl-12 col-md-12 col-sm-12">
            <br>
            <center>
              <h3>Order Details</h3>
            </center>
          </div>
          <div class="col-xl-6 col-md-6 col-sm-12">
            <br>
            <div class="form-group">
              <label class="small mb-1" for="inputQunatity">Order Quantity</label>
              <input required class="form-control py-4" id="order_quantity" name="wanted" min="0"
                max="{{ edit_product[5]}}" value="1" type="number" />
            </div>
          </div>
          <div class="col-xl-6 col-md-6 col-sm-12">
            <br>
            <div class="form-group">
              <label class="small mb-1" for="inputQunatity">Contact Number</label>
              <input required class="form-control py-4" name="contact" id="contact_number" value="{{ user[3]}}" />
            </div>
          </div>
          <div class="col-xl-6 col-md-6 col-sm-12">
            <br>
            <div class="form-group">
              <label class="small mb-1" for="inputQunatity">Name</label>
              <input class="form-control py-4" name="name" disabled value="{{ user[1] }}" type="text" />
            </div>
          </div>

          <div class="col-xl-6 col-md-6 col-sm-12">
            <br>
            <div class="form-group">
              <label class="small mb-1" for="inputQunatity">Email</label>
              <input class="form-control py-4" name="email" disabled value="{{ user[2] }}" type="text" />
            </div>
          </div>

          <div class="col-xl-12 col-md-12 col-sm-12">
            <br>
            <div class="form-group">
              <label class="small mb-1" for="inputQunatity">Address</label>
              <input class="form-control py-4" id="address" name="address" value="" required type="text" />
            </div>
          </div>

          <div class="col-xl-12 col-md-12 col-sm-12">
            <br>
            <center>
              <label class="small mb-1" for="inputButton">Place Order</label>
              <button type="button" onclick="show()" style="width: 20%;" class="btn btn-primary btn-block">Submit
                Order</button>
            </center>
            <br>
          </div>
        </div>

      </form>
    </div>

  </div>
</div>


<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js'></script>
<script src='https://sachinchoolur.github.io/lightslider/dist/js/lightslider.js'></script>
<script src="https://checkout.stripe.com/checkout.js"></script>
<script>
  $('#lightSlider').lightSlider({
    gallery: true,
    item: 1,
    loop: true,
    slideMargin: 0,
    thumbItem: 9
  });

  var handler = StripeCheckout.configure({
    key: 'pk_test_51JDCehBCnPTOirD4GlNPXerk27SX9BrZ0O10AAziv6yfBMnLCWKTFuvnJHcUR4KE2Ri0It7VFT0uSDjskBqiDqb600ZnKxImaT',
    image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
    locale: 'auto',
    token: function (token) {
      var hidden1 = document.createElement("input");
      hidden1.type = "hidden";
      hidden1.name = "stripeToken";
      hidden1.value = token.id;

      var hidden2 = document.createElement("input");
      hidden2.type = "hidden";
      hidden2.name = "stripeEmail";
      hidden2.value = token.email;

      var f = document.getElementById("order_form");
      f.appendChild(hidden1);
      f.appendChild(hidden2);

      f.submit();

    }
  });

  // Close Checkout on page navigation:
  window.addEventListener('popstate', function () {
    handler.close();
  });

  function show() {

    max_value = $('#order_quantity').attr('max');
    user_value = $('#order_quantity').val();
    
    if($('#order_quantity').val() == ''){
      alert('Please Enter Order Quantity.')
    }
    else if($('#contact_number').val() == ''){
      alert('Please Enter Contact Number.')
    }
    else if($('#address').val() == ''){
      alert('Please Enter Address.')
    }
    else if (parseInt(user_value) > parseInt(max_value)) {
      alert('Order Quanity cannot be Greater than Available Quantity.')
    }
    else {
      price = parseInt($('#price').val()) * 100;
      handler.open({
        name: 'UnifyShop',
        description: 'Order Payment',
        currency: 'USD',
        amount: price
      });
      event.preventDefault();
    }


  }
</script>



{% endblock %}