{% extends "base.html" %}
{% block body %}

<style>
  #close {
    height: 240px;
    overflow: visible;
    position: relative;
  }

  #x {
    position: absolute;
    background: red;
    color: white;
    top: -10px;
    right: -10px;
  }
</style>

<!-- Page Content -->
<div class="page-heading products-heading header-text">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-content">
          <h4>new arrivals</h4>
          <h2>sixteen products</h2>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="products">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="filters">
          <form method="GET">
            <input class="form-control" name="search" placeholder="Search Here,,,">
            <br>
            <button type="submit" class="btn btn-info">Search</button>
          </form>
          <br>
          <br>
          <br>
          <ul>
            <li class="active" data-filter="*">All Products</li>
          </ul>
        </div>
      </div>
      <div class="col-md-12">
        <div class="filters-content">
          <div class="row grid">
            {% for product in products %}
            <div class="col-lg-3 col-md-3 all des">
              <div class="product-item">
                <img id="close" src="{{ product[7].split(',')[0] }}" class="image" height="100%" />
                <div class="down-content">
                  <h4>{{product[1]}}</h4>
                  <h6>${{product[6]}}</h6>
                  <p>{{product[2]}},{{product[3]}}</p>
                  <ul class="stars">
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                  </ul>
                  <a href="/product_details?id={{product[0]}}"><span>Details</span></a>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>

    </div>
  </div>
</div>



{% endblock %}